<% include ../partials/meta.ejs %>
<title>Welcome</title>
<% include ../partials/header.ejs %>
  
  <div class="row">
    <h1>Welcome, 
      <% if(typeof nume !== "undefined"){ %>
      <%= nume %> 
      <% } else { %>
        Student
      
      <% }  %>
     !</h1>

     <% if(typeof nume !== "undefined"){ %>
      
      <div>
          <form action="/goodbye" method="POST">
            <button type="submit" class="btn">LOGOUT</button>
  
          </form>
  
       </div>
      
      
      <%} %> 
      







    
    <div class="col-md-12 text-center">
      <img src= "/static/keep_calm.gif" > 
    </div>
  </div>

<% include ../partials/footer.ejs %>