<% include ../partials/meta.ejs %>
<title>Welcome</title>
<% include ../partials/header.ejs %>


<%= preferinte + 'test' %>

  <div class="row">
    <div class="col-md-12 text-center">
      <img src=
      <% 
        if (preferinte ==="fete"){ 
      %>
        "/static/keep_calm.gif"
      <%
       } else { 
      %>
        "http://thagomizer.com/img/avatar_small.jpg"
      <%
      }
      %>
    </div>
  </div> <!-- row -->
   

  <% include ../partials/footer.ejs %>